<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create A Friend</title>
</head>
<body>
    <form method="POST">
        <label>
            Name:
                <input name="name">
        </label>
        <br>
        <label>
            Species:
                <input name="species">
        </label>
        <br>
        <label>
            Birthdate:
                <input date="birthdate" placeholder="1999-12-31">
        </label>
        <br>
        <input type="submit">
    </form>
</body>
</html>